function Survive.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 200
push constant 200
push constant 10
call Square.new 3
pop this 1
push constant 0
push constant 0
push constant 10
call Square.new 3
pop this 0
push constant 0
pop this 2
push pointer 0
return
function Survive.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push this 1
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Survive.movePlayer 1
push argument 0
pop pointer 0
push pointer 0
call Survive.checkFailure 1
pop local 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push this 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Square.moveUp 1
pop temp 0
label IF_FALSE1
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Square.moveDown 1
pop temp 0
label IF_FALSE2
push this 2
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Square.moveLeft 1
pop temp 0
label IF_FALSE3
push this 2
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
call Square.moveRight 1
pop temp 0
label IF_FALSE4
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function Survive.checkFailure 9
push argument 0
pop pointer 0
push this 0
call Square.getX 1
pop local 0
push this 0
call Square.getX 1
push this 0
call Square.getSize 1
add
pop local 1
push this 0
call Square.getY 1
pop local 2
push this 0
call Square.getY 1
push this 0
call Square.getSize 1
add
pop local 3
push this 1
call Square.getX 1
pop local 5
push this 1
call Square.getY 1
pop local 6
push local 5
push local 0
gt
push local 5
or
push local 0
eq
push local 6
push local 2
gt
push local 6
or
push local 2
eq
and
push local 5
push local 1
lt
and
push local 6
push local 3
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 10
call String.new 1
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
call Sys.halt 0
pop temp 0
label IF_FALSE0
push constant 0
return
function Survive.chase 4
push argument 0
pop pointer 0
push this 0
call Square.getX 1
pop local 0
push this 1
call Square.getX 1
pop local 2
push this 0
call Square.getY 1
pop local 1
push this 1
call Square.getY 1
pop local 3
push local 0
push local 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Square.moveDown 1
pop temp 0
push constant 0
return
label IF_FALSE0
push local 0
push local 2
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call Square.moveUp 1
pop temp 0
push constant 0
return
label IF_FALSE1
push local 1
push local 3
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
call Square.moveRight 1
pop temp 0
push constant 0
return
goto IF_END2
label IF_FALSE2
push this 1
call Square.moveLeft 1
pop temp 0
label IF_END2
push constant 0
return
function Survive.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call Survive.movePlayer 1
pop local 1
push pointer 0
call Survive.chase 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 2
label IF_FALSE1
push local 0
push constant 133
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop this 2
label IF_FALSE2
push local 0
push constant 130
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 3
pop this 2
label IF_FALSE3
push local 0
push constant 132
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 4
pop this 2
label IF_FALSE4
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call Survive.movePlayer 1
pop local 1
push this 0
call Square.incSize 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
